body {
    display: block;
}

.header {
    background: #f4f4f4;
    padding: 20px 0;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.wrapper {
    padding-top: 97px;
}

.back-arrow {
    display: block;
    background: url('../../assets/img/left-arrow.svg') no-repeat;
    background-size: cover; 
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px 0 10px -35px;
}

.header-nav {
    .nav {
        margin: 0 -15px;
    }
    .nav-item {
        padding: 0 15px;
        &.right {
            margin: 0 0 0 auto;
        }
    }
    .nav-link {
        color: #34495e;
        font-size: 18px;
        padding: 0;
        position: relative;
        transition: all .3s;
        &:before {
            @include before-img(0, 1px);
            transition: all .3s;
            background: #718daa;
            left: 0;
            bottom: 0;
        }
        &:hover {
            transition: all .3s;
            &:before {
                width: 50%;
            }
        }
        &.active {
            transition: all .3s;
            color: #718daa;
        }
    }
}


.content {
    display: flex;
    &__aside {
        width: 300px;
    }
    &__main {
        width: calc(100% - 300px);
        padding-left: 30px;
    }
}


.link {
    font-size: 16px;
    font-weight: 600;
    display: table;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        color: #bba605;
        transition: all .3s;
    } 
}