table td {
    vertical-align: middle;
}

.main-table {
    margin-top: 20px;
    position: relative;
}


.main-table tr {
    transition: all 1s;
}
.table-row-enter, .table-row-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.table-row-leave-active {
    position: absolute;
}

.table-row-move {
    transition: transform 1s;
}

.main-table td:nth-child(1),
.main-table th:nth-child(1) {
    width: 35%;
}

.main-table td:nth-child(2),
.main-table th:nth-child(2) {
    width: 30%;
}

.main-table td:nth-child(3),
.main-table th:nth-child(3) {
    width: 14%;
}